.wrapper{
	color: var(--color);
	padding: 100px;
	width: 80vw;
	.row__one {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 50vw;
		gap: 50px;
		input{
			width: 30vw;
		}
	}
	.row__two {
		margin-top: 70px;
		display: flex;
		justify-content: center;
	}
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 30vw;
}