@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

body {
	--background: #e4e4e4;
	--background-color: #fff;
	--color: #000;
	--input-color: #f4f2f2;
	--active-nav: #02acca;
	--switchBac: rgb(202, 202, 202);
	--shadow: #c4c4c4;
	--backgroundTask: #ffffff;
}

body[data-theme='dark'] {
	--background: #313131;
	--background-color: #1e1e1e;
	--color: #fff;
	--input-color: #212121;
	--active-nav: #027e94;
	--switchBac: rgb(82, 82, 82);
	--shadow: #1a1a1a;
	--backgroundTask: #313131;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Inter';
}
